@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  display: flex;
	flex-direction: column;
  box-sizing: border-box;
	justify-content: center;
	/* align-items: center; */
	min-height: 100vh;
	font-family: 'Roboto Mono', monospace;
	gap: 30px;
	background-color: rgb(215, 233, 230);
}

.title {
	font-size: 50px;
	margin-bottom: 30px;
}

.game {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	align-items: flex-start;
}

.you,
.computer {
	flex-basis: 245px;
	transition: all 0.5s ease;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.images-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
}

button {
	box-shadow: 0 0 0 5px teal;
	border-radius: 20px;
	/* background-color: rgb(173, 200, 200); */
	transition: all 0.05s ease-in;
	backdrop-filter: 10px;
	border: none;
}

button:active {
	/* transform: scale(0.95); */
	transform: translateY(3px);
}

@keyframes append-animate-score {
	from {
		transform: scale(0.5);
		opacity: 0.5;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}
@keyframes append-animate-other {
	from {
		/* transform: scale(0.5);
		opacity: 0; */
	}
	to {
		transform: translateX(50px);
		/* opacity: 1;	 */
	}
}

/* animate new box */
.new {
	animation: append-animate-score 5s ease;
}

.new-other {
	animation: append-animate-other 5s ease;
}

img {
	color: red;
}