@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  display: flex;
	flex-direction: column;
  box-sizing: border-box;
	justify-content: center;
	/* align-items: center; */
	min-height: 100vh;
	font-family: 'Roboto Mono', monospace;
	gap: 30px;
	background-color: rgb(215, 233, 230);
}

.heading {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 60px;
}

.title {
	font-size: 40px;
	margin-bottom: 30px;
}

.game {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	align-items: flex-start;
}

.you,
.computer {
	flex-basis: 245px;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.images-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
}

button {
	box-shadow: 0 5px 0 5px teal;
	border-radius: 20px;
	transition: all 0.05s ease-in;
	backdrop-filter: 10px;
	border: none;
	background-color: inherit;
}

img {
	background: none;
}

button:hover {
	transform: scale(1.05);
}

button:active {
	box-shadow: 0 0 0 5px teal;
	transform: translateY(3px);
}

.final-result {
	flex: 0 1 0px;
	overflow: hidden;
	transition: flex 2s ease, width 2s ease;
	white-space: nowrap;
	border: none;
	height: min-content;
	width: 0px; 
}

.clicked {
	flex: 1 1 auto;
	align-self: center; 
	font-size: 40px; 
	color: green;
	max-width: 400px;
}